/*
 * This is is imported by virtue of "sass.etc" in "app.json".
 */
.chat {
    overflow-y: auto;
    height: 100%;
    padding-right: 5px;
    .chat-message {
        background-color: #ebeff2;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 10px;
        .message-head {
            border-bottom: 1px dashed #c3c3c3;
        }
    }
    .chat-message-my {
        background-color: #D4FCC4;
        border-radius: 5px;
        margin-bottom: 5px;
        padding: 10px;
        .message-head {
            border-bottom: 1px dashed #E2FBCD;
        }
    }
}
